{% extends 'base.html.twig' %}

{% block title %}New MetaCategory{% endblock %}

{% block body %}
    <h1>{{'action.create'|trans}} MetaCategory</h1>

    {{ include('meta_category/_form.html.twig') }}

    <a href="{{ path('moderator_meta_category_index') }}">back to list</a>
{% endblock %}
