{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_user_new' %}

{% block main %}
    <h1>{{ 'title.user_new'|trans }}</h1>

    in progress...

{% endblock %}

{% block sidebar %}

    {{ parent() }}

    {{ (_self) }}
{% endblock %}
