{% extends 'base.html.twig' %}

{% block body_id 'admin_user_new' %}

{% block main %}

    <h1>{{ (app.request.attributes.get('_route') == 'admin_user_edit'
        ? 'title.user.edit'
        : 'title.user.new'
        ) | trans }}</h1>

    {{ form(form) }}

{% endblock %}

{% block sidebar %}

    {{ parent() }}

    {{ (_self) }}
{% endblock %}
