{% extends 'base.html.twig' %}

{% block title %}New ResourceMediaType{% endblock %}

{% block body %}
    <h1>Create new ResourceMediaType</h1>

    {{ include('admin/attribute/resource_media_type/_form.html.twig') }}

    <a href="{{ path('resource_media_type_index') }}">back to list</a>
{% endblock %}
