{% extends 'base.html.twig' %}

{% block title %}New ResourceMediaType{% endblock %}

{% block body %}
    <h1>{{'action.create'|trans}} ResourceMediaType</h1>

    {{ include('moderator/meta/moderator_meta_media_type/_form.html.twig') }}

    <a href="{{ path('moderator_meta_media_type_index') }}">back to list</a>
{% endblock %}
