{% extends 'base.html.twig' %}

{% block body_id 'admin_meta_access_level_index' %}

{% block main %}
    <h1>{{ 'title.resource.access_level.list'|trans }}</h1>

    {{ include("_tree.html.twig") }}
{% endblock %}

{% block sidebar %}

    {{ parent() }}

    {{ (_self) }}
{% endblock %}
