{% extends 'base.html.twig' %}

{% block title %}New ResourceExtension{% endblock %}

{% block body %}
    <h1>{{'action.create'|trans}} ResourceExtension</h1>

    {{ include('moderator/meta/extension/_form.html.twig') }}

    <a href="{{ path('moderator_meta_extension_index') }}">back to list</a>
{% endblock %}
