{% extends 'base.html.twig' %}

{% block title %}New ResourceKeyword{% endblock %}

{% block body %}
    <h1>{{'action.create'|trans}} ResourceKeyword</h1>

    {{ include('moderator/meta/keyword/_form.html.twig') }}

    <a href="{{ path('moderator_meta_keyword_index') }}">back to list</a>
{% endblock %}
