{% if not item.keywords.empty %}
    <p class="post-keywords">
        {% for keyword in item.keywords %}
            <a href="{{ path('resource_index', {'keyword': keyword.name == app.request.query.get('keyword') ? null : keyword.name}) }}"
               class="label label-{{ keyword.name == app.request.query.get('keyword') ? 'success' : 'default' }}"
            >
                <i class="fa fa-keyword"></i> {{ keyword.name }}
            </a>
        {% endfor %}
    </p>
{% endif %}

